.pane {
  height: 40vh;
  display: flex;
  &.collapased {
    height: 5vh;
  }
}
.top-pane {
  background: #2f2e34;
  height: calc(60vh - 48px);
  &.expanded {
    height: calc(95vh - 48px);
  }
}
.iframe-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.iframe-header {
  font-weight: 600;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
.iframe-action {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .pane {
    flex-direction: column;
  }
}
